.containerChatAi {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.containerChatUser {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 15px;
}

.content {
    line-height: 1.5;
}

.content p {
    margin-bottom: 15px;
}

.content p:last-child {
    margin-bottom: 0;
}

.contentUser {
    /* text-align: end; */
}

.chatBotUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.circleImg {
    border-radius: 20px;
    height: 36px;
    width: 36px;
    flex-shrink: 0;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4320b;
}

.containerImg {
    overflow: hidden;
}

.coachAi {
    color: var(--color-textgray);
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 50px;
}

.chatBot {
}

.chat {
    border-radius: 20px;
    padding: 14px 20px;
    max-width: 75%;
    min-width: 80px;
}

.chatIa {
    background-color: var(--color-backgroundChatIa);
    border-bottom-left-radius: 0;
}

.chatUser {
    background-color: rgba(252, 193, 182, 0.5);
    border-bottom-right-radius: 0;
}

.profilImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
