.containerProfil {
  background-color: white;
  border-radius: 10px;
  height: 330px;
  display: flex;
  flex-direction: column;

  gap: 30px;
  padding: 30px;
}

.separatorLine {
  border-bottom: 1px solid var(--color-textgray);
}
