.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: white;
    padding: 0 200px;
}

.sportseeInc {
    margin-left: 100px;
}

.contentRight {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
}
