.containerError {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 30%;
    background-color: rgb(240, 176, 176);
    border-radius: 20px;
    z-index: 1;
    border: 2px solid black;
    box-shadow: 2px 2px 3px black;
}

.textError {
    font-size: 20px;
    color: var(--color-darkblue);
}
