.containerLoading {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 15px solid rgb(159, 153, 243);
    border-top: 15px solid rgb(3, 19, 201);
    border-radius: 50%;
    flex-shrink: 0;
    animation: spin 1s linear infinite;
}

.loadText {
    color: var(--color-darkblue);
    font-size: 20px;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
