.nameInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 170px;
    overflow: hidden;
}

.containerImg {
    overflow: hidden;
    border-radius: 10px;
    margin-left: 20px;
}

.img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contentName {
    margin-left: 20px;
}

.name {
    font-weight: 500;
    font-size: 22px;
}
