.containerStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.stats {
  grid-column: 1/3;
}

.sinceStart {
  color: var(--color-textgray);
}

.contentTitle {
  font-weight: 400;
  font-size: 14px;
}
.contentInfo {
  color: var(--color-textlightblue);
}

.nbrInfo {
  font-weight: 500;
  font-size: 22px;
  color: white;
}
.infoSport p {
  margin-top: 10px;
  margin-left: 30px;
}
.infoSport {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100px;
  width: 280px;
  background-color: var(--color-darkblue);
  border-radius: 10px;
  color: white;
}
