.dialog {
    width: 1200px;
    height: 900px;
    margin: auto;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 22px 33px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.close {
    border: none;
    background-color: transparent;
}

.containerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}

.title {
    color: var(--color-darkblue);
    font-weight: 500;
    font-size: 22px;
    text-align: justify;
    text-align-last: center;
}

.textAreaWrapper {
    position: relative;
    height: 130px;
    width: 100%;
    margin-top: 20px;
}

.iconeAiOrange {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}

.chatInput {
    resize: none;
    font-family: inherit;
    height: 100%;
    width: 100%;
    border: 1px solid var(--color-textgray);
    border-radius: 10px;
    padding: 15px 80px 10px 45px;
}

.form {
    position: relative;
    width: 100%;
    height: 120px;
}

.contentModalBox {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
}

.responseContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
    height: 550px;
    scroll-behavior: smooth;
    margin-top: 30px;
    /* Suppression de la scroll bar pour Chrome, 
    Safari, edge, Firefox, Explorer */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.arrowUp {
    color: white;
}

.submitBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 20px;
    border-radius: 10px;
    background-color: var(--color-darkblue);
}
