:root {
    --color-darkblue: #0b23f4;
    --color-lightblue: #5465f7;
    --color-background: #f2f3ff;
    --color-textgray: #707070;
    --color-textlightblue: #b6bdfc;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-background);
}

body {
    /* max-width: 1440px; */
    /* margin: 0 auto; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.buttonAnimate {
    border: none;
    border-radius: 10px;
    background-color: var(--color-darkblue);
    color: white;
    transition: background-color 0.4s ease-in-out;
}

.buttonAnimate:hover {
    background-color: var(--color-lightblue);
}

.buttonGraph {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 25px;
    margin: 0 5px;
    flex-shrink: 0;
    transition: all 0.4s ease-in-out;
}

.buttonGraph:hover {
    color: white;
}
