.container {
    display: flex;
    height: 30px;
    width: 20px;
    gap: 1px;
    align-items: center;
    margin-right: 5px;
}

.orangeBar {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: slideDown 2.5s ease-in-out infinite;
}

@keyframes slideDown {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(10%);
    }
    15% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
    55% {
        transform: translateY(45%);
    }
    60% {
        transform: translateY(50%);
    }
    100% {
        transform: translate(0%);
    }
}
