.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 100px 100px 0 100px;
}

.appContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
